"flagship" ->
 WorkloadParams(

primeRange = 50_000_000,                    SC: 2.21Mops/s MC: 6.98Mops/s
fibonacciNRange = Pair(92, 92),
fibonacciIterations = 125_000_000,          SC: 17.35Mops/s MC: 67.10Mops/s
matrixSize = 128, 
matrixIterations = 1500,                    SC: 512.50Mops/s MC: 3496.22Mops/s
hashDataSizeMb = 8,                         
hashIterations = 2_500_000,                 SC: 0.25Mops/s MC: 1.49Mops/s               
stringSortIterations = 5_000,              SC: 37.58Mops/s MC: 123.12Mops/s
compressionDataSizeMb = 6,
compressionIterations = 1000,              SC: 37.58Mops/s MC: 123.12Mops/s
)